<aside>
  <a href="#fixed_banner_target" class="fixed-cta">
    <picture>
      <source media="(min-width: 641px)" srcset="<%= productRootPath %>img/fixed_banner_pc.png">
      <img src="<%= productRootPath %>img/fixed_banner_sp.png" alt="お得な定期コースのお申し込みはこちら" width="830" height="177" >
    </picture>
  </a>
</aside>