<section id="info" class="inner">
  <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/info_tit_pc.png" alt="オリエンタルバイオ"></h2>
  <div id="info-inner" class="clearfix">
    <dl class="info-col">
      <dt>お支払いについて</dt>
      <dd>
        <p>□ 消費税について<br>
          商品の価格は、消費税込みです。</p>
        <p>□ 代金引換<br>
          商品配達時に配達員に代金を直接お支払いいただきます。<br>
          代金引換手数料は、弊社が負担いたします。</p>
        <p>□ クレジットカード<br>
          ※お引き落としについて<br>
          お引き落とし月は、ご利用のカードによって異なります。定期コースの場合は、商品をお届けする度にご請求させていただきます。</p>
        <p>
          クレジットカードのお支払いに関しては、お届け毎に各クレジットカード会員規約に基づき、お客様の口座より引落しとなります。代金引換払いの場合は、商品お届け時に配達員にお支払いください。<br>
          2回目以降も同じ方法でのお支払いとなります。
        </p>
      </dd>
      <dt>送料・配送について</dt>
      <dd>
        <p>□ 配送業者<br>
          佐川急便でお届けします。</p>
        <p>□ 送料<br>
          送料は無料でお届けいたします。</p>
      </dd>
    </dl>
    <dl class="info-col">
      <dt>商品に関するお問い合わせ</dt>
      <dd>
        <p>当社営業時間　平日10時～18時半まで<br>
          フリーダイヤル：0120-079-996</p>
      </dd>
      <dt>返品について</dt>
      <dd>
        <p>当社営業時間　平日10時～18時半まで<br>
          フリーダイヤル：　0120-079-996<br>
          ご連絡頂き、返品の旨をお伝えください。<br>
          担当者より返品手順のご説明申し上げます。</p>
        <p>〒103-0023<br>
          東京都中央区日本橋本町1-5-4 住友不動産日本橋ビル1階<br>
          オリエンタルバイオ株式会社</p>
        <p>お客様のご都合により返品される場合は、下記の通りの条件となります。</p>
        <p>①交換・返品のお申し出は、ご注文商品到着後8日以内にお願い<br>　いたします。<br>
               ②ご返品時にかかる送料（宅配送料・現金書留送料など）は、<br>　お客様のご負担となります。<br>
               ③クレジットカードにてお支払いの場合、返品はお受けできま<br>　せん。<br>
               ④未開封品に限り返品をお受けしております。<br>　（外装フィルムを含む）<br>
               ⑤割引制度をご購入いただいた場合は、ご購入時の割引単価では<br>　なく、お客様が既に消費（開封）された商品を本来の販売価格<br>　に割り当て、ご購入時のお支払額との差額を<br>　求めて返金額を算出いたします。</p>
      </dd>
    </dl>
  </div>
</section>