<section>
  <div class="interview pc">
    <img src="<%= productRootPath %>img/interview_shi_pc.png" alt="ご愛飲者様に直接お会いしてきました！ ラフィーネ-アルファをご愛飲いただいているお客様に長年飲み続けている理由をお聞きました。 ラフィーネは25年以上健康の支えに。戦争を生き延びたからこそ、120歳まで生きるのが目標！18~78歳まで杜氏の仕事に打ち込みました。地方へ単身赴任を繰り返し、毎日多忙の極み。その上毎晩夜更かしで、不摂生でした。身体は正直ですよね。こりゃ何とかせにゃイカン！と思ってやっと健康を見直したわけです。そんな時にであったのがラフィーネ-アルファでした。気づいたら、あれ？？たまげました！（驚きました）健康に気をつけながら飲み始めるうちに、知らん間に変化がありました。ラフィーネが私の体にじわーっと染みとったんでしょう。飲まずにいたら…。出会えてとてもラッキーでしたね。今頃どうなっていたか分からないですね。健康管理を続けることがどれだけ大切か、人並み以上に不摂生をして始めて気づいたんです。でも今まで何事もなくいられるのはラフィーネのおかげ。飲んどったら大丈夫！と信じ切っております。95歳、自ら運転に農業。心身ともに健康であることが「最高の贅沢」16歳の頃、太平洋戦争の特攻隊として配属も、直前に終戦。生きて故郷に帰ってこれたことで、「生きる」に対しての願望は人一倍強いですね。健康への努力を惜しまず、ラフィーネを飲んで120歳まで頑張ります！杜氏をやめた現在は、老人クラブで活動したり、地域の討論会に出席したりと活躍の場をひろげているようです。※オリエンタルバイオ社員との写真※個人の感想です。">
  </div>
  <div class="interview sp">
    <img src="<%= productRootPath %>img/interview_shi_sp.png" alt="ご愛飲者様に直接お会いしてきました！ ラフィーネ-アルファをご愛飲いただいているお客様に長年飲み続けている理由をお聞きました。 ラフィーネは25年以上健康の支えに。戦争を生き延びたからこそ、120歳まで生きるのが目標！18~78歳まで杜氏の仕事に打ち込みました。地方へ単身赴任を繰り返し、毎日多忙の極み。その上毎晩夜更かしで、不摂生でした。身体は正直ですよね。こりゃ何とかせにゃイカン！と思ってやっと健康を見直したわけです。そんな時にであったのがラフィーネ-アルファでした。気づいたら、あれ？？たまげました！（驚きました）健康に気をつけながら飲み始めるうちに、知らん間に変化がありました。ラフィーネが私の体にじわーっと染みとったんでしょう。飲まずにいたら…。出会えてとてもラッキーでしたね。今頃どうなっていたか分からないですね。健康管理を続けることがどれだけ大切か、人並み以上に不摂生をして始めて気づいたんです。でも今まで何事もなくいられるのはラフィーネのおかげ。飲んどったら大丈夫！と信じ切っております。95歳、自ら運転に農業。心身ともに健康であることが「最高の贅沢」16歳の頃、太平洋戦争の特攻隊として配属も、直前に終戦。生きて故郷に帰ってこれたことで、「生きる」に対しての願望は人一倍強いですね。健康への努力を惜しまず、ラフィーネを飲んで120歳まで頑張ります！杜氏をやめた現在は、老人クラブで活動したり、地域の討論会に出席したりと活躍の場をひろげているようです。※オリエンタルバイオ社員との写真※個人の感想です。">
  </div>
</section>