<section>
  <div class="interview pc">
    <img src="<%= productRootPath %>img/interview_a_pc.png" alt="ご愛飲者様に直接お会いしてきました！ ラフィーネ-アルファをご愛飲いただいているお客様に長年飲み続けている理由をお聞きました。 43歳から25年以上続けているから言えること  会沢 愛子さん（茨城県）71歳　25年以上ラフィーネ-アルファを
飲んでいることを話すとよく驚かれるんですが、私にしたら生活の一部なのでごくごく当たり前のこと。どうしてこんなに長く続けているのか、それはこの25年なにもなく元気に過ごしてこれたからです。ラフィーネ-アルファと出合えていなかったら、これほど元気な私はいなかったかもしれないんですから。こんなに元気で71歳を迎えている未来なんて想像もできませんでした。若い頃と変わらない気分で「どうしたの？」と周囲に驚かれるほどです。毎月のように友人とランチをしながらおしゃべりを楽しめ
るのは、本当に幸せです。　最初は全く期待していなかったけど…　ラフィーネ-アルファとの出会いは、知人からの紹介でした。 最初は全く期待していなかったんですが、1日9本飲んで3日くらいで「あれ？」と思い始め、 2～3ヵ月たった頃には、すっかり信頼してましたね。適度な運動、良質な睡眠、バランスのよい食事などを日々心
がけていますが、 より良い生活習慣のためには、アルファのサポートなしでは考えられません。　私にとってラフィーネアルファは
体の一部みたいなもの。　歳を重ねるごとにさまざまなアクシデントが忍び寄ってくると思います。ラフィーネ-アルファは、体の健康を維持するためのものであると同時に、心の健康も守ってくれるもの。これから始める方には、元気な明日を迎えるためにも根気よく飲み続けてほしいですね。この先10年20年は、健康はもちろんエイジングケア※も兼ねて飲んでいくつもりです。一生飲み続けていきます。">
  </div>
  <div class="interview sp">
    <img src="<%= productRootPath %>img/interview_a_sp.png" alt="ご愛飲者様に直接お会いしてきました！ ラフィーネ-アルファをご愛飲いただいているお客様に長年飲み続けている理由をお聞きました。 43歳から25年以上続けているから言えること  会沢 愛子さん（茨城県）71歳　25年以上ラフィーネ-アルファを
飲んでいることを話すとよく驚かれるんですが、私にしたら生活の一部なのでごくごく当たり前のこと。どうしてこんなに長く続けているのか、それはこの25年なにもなく元気に過ごしてこれたからです。ラフィーネ-アルファと出合えていなかったら、これほど元気な私はいなかったかもしれないんですから。こんなに元気で71歳を迎えている未来なんて想像もできませんでした。若い頃と変わらない気分で「どうしたの？」と周囲に驚かれるほどです。毎月のように友人とランチをしながらおしゃべりを楽しめ
るのは、本当に幸せです。　最初は全く期待していなかったけど…　ラフィーネ-アルファとの出会いは、知人からの紹介でした。 最初は全く期待していなかったんですが、1日9本飲んで3日くらいで「あれ？」と思い始め、 2～3ヵ月たった頃には、すっかり信頼してましたね。適度な運動、良質な睡眠、バランスのよい食事などを日々心
がけていますが、 より良い生活習慣のためには、アルファのサポートなしでは考えられません。　私にとってラフィーネアルファは
体の一部みたいなもの。　歳を重ねるごとにさまざまなアクシデントが忍び寄ってくると思います。ラフィーネ-アルファは、体の健康を維持するためのものであると同時に、心の健康も守ってくれるもの。これから始める方には、元気な明日を迎えるためにも根気よく飲み続けてほしいですね。この先10年20年は、健康はもちろんエイジングケア※も兼ねて飲んでいくつもりです。一生飲み続けていきます。">
  </div>
</section>