<section id="longseller">
  <h2 class="aligncenter"><img class="js-res_img" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_tit_pc.png"
      alt="販売開始から25年以上続くロングセラー！"></h2>
  <div class="inner">
    <div id="longseller-txt-01"><img class="js-res_img" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_01_pc.png"
        alt="著名な方々からお喜びの声続々"></div>
    <div class="clearfix" id="longseller-col-01">
      <img class="js-res_img floatleft" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_img_01_pc.jpg" alt="">
      <div class="longseller-comment fontMincho fon40 cGreen">
        <span>ラフィーネ-アルファはね、<br>
          生涯の友だと思ってますよ。</span>
      </div>
      <dl>
        <dt class="fontMincho"><img class="js-res_img" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_02_pc.png"
            alt="野球解説者"><span class="fon25"><br class="sp">張本 勲</span>さん</dt>
        <dd class="fon17">飲用開始/2008年5月　 <br class="sp">飲用数（1日） /3～6本<br>きっかけ/後輩からの紹介</dd>
      </dl>
    </div>
    <div class="clearfix" id="longseller-col-02">
      <img class="js-res_img floatright" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_img_02_pc.jpg" alt="">
      <div class="longseller-comment fontMincho cGreen">
        <span>夫婦そろって<br class="pc tab">
          健康である<br class="sp">ことが大切なんです。<br>
          だから僕たちにとって、<br>
          ラフィーネ‐アルファは<br>
          二人をつなぐ潤滑油のようなもの。<br class="pc tab">
          元気で頑張れるこの人生に感謝ですね！</span>
      </div>
      <dl>
        <dt class="fontMincho"><img class="js-res_img name1" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_03_pc.png"
            alt="ゴルファー"><span class="fon25">金谷 智美</span>さん<br class="sp">
          <img class="js-res_img name2" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_04_pc.png" alt="ゴルフプロフェッショナル"
            class="ml10"><span class="fon25">金谷 多一郎</span>さん</dt>
        <dd class="fon17">飲用開始/2006年6月　<br class="sp">飲用数（1日）/（智美さん）4本・<br class="sp">（多一郎さん）3～6本　<br
            class="sp">きっかけ/友人からの紹介
        </dd>
      </dl>
    </div>
    <div class="clearfix" id="longseller-col-03">
      <img class="js-res_img floatleft" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_img_03_pc.jpg" alt="">
      <div class="longseller-comment fontMincho cGreen">
        <span>健康でいることは<br class="pc tab">周りの<br class="sp">人も楽しくさせられる。<br>
          90歳まで元気でいる<br class="sp">ためにも<br class="pc tab">
          今の健康管理が<br class="sp">大事だと思ってます。</span>
      </div>
      <dl>
        <dt class="fontMincho">
          <p class="mb10"><img class="js-res_img name1" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_05_pc.png"
              alt="野球解説者"><span class="fon25">金石 昭人</span>さん</p>
          <p><img class="js-res_img name2" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_06_pc.png" alt="スポーツキャスター"><span
              class="fon25">陣内 貴美子</span>さん</p>
        </dt>
        <dd class="fon17">飲用開始/2007年12月　<br class="sp">飲用数(1日)/(陣内さん)1～3本・(金石さん)3～6本　<br class="sp">きっかけ/友人からの紹介
        </dd>
      </dl>
    </div>
    <div class="clearfix" id="longseller-col-04">
      <img class="js-res_img floatright" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_img_04_pc.jpg" alt="">
      <div class="longseller-comment fontMincho fon40 cGreen">
        <span>いつも、<br>
          「ありがとう、頼むよ」って<br>
          思いながら飲んでます。</span>
      </div>
      <dl>
        <dt class="fontMincho"><img class="js-res_img name1" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/longseller_txt_07_pc.png"
            alt="中華料理人"><span class="fon25"><br class="sp">陳 建一</span>さん</dt>
        <dd class="fon17">飲用開始/2013年7月　<br class="sp">飲用数（1日） /3本<br>
          きっかけ/金谷多一郎さんの紹介</dd>
      </dl>
    </div>
  </div>
  <div id="longseller-notes">
    <p class="alignright fon15">※使用感には個人差があります。　<br class="sp">※2015年9月現在</p>
  </div>
</section>