<section id="more">
  <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/more_tit_pc.png"
      alt="生活習慣の悩みに多方面からアプローチ"></h2>
  <div class="inner">
    <div class="text">
      <p>ラフィーネ‐アルファには、<br class="sp">人それぞれ異なる<br class="pc tab">
        生活習慣の悩みに、<br class="sp"><span class="cOrange"><strong>多方面からアプローチできるように、<br>
            大豆発酵エキス（NT）と<br class="sp">相性のいい成分</strong></span>や、<br class="pc tab">
        <span class="cOrange"><strong>働きが異なる<br class="sp">成分を厳選して配合</strong></span>しています。<br>
        長年の研究によって<br class="sp">たどり着いた組み合わせを、<br>
        ぜひ実感してください。<br>
      </p>
    </div>
    <p class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/more_img_pc.png" alt="主要成分を中心とした複合力">
    </p>
    <ul class="clearfix">
      <li class="aligncenter">みかんなどの柑橘類の皮に<br>
        多く含まれる「スムーズ」な<br>
        日々をサポートする<br>
        ポリフェノール。</li>
      <li class="aligncenter">ソバに多く含まれる健康成分として<br>
        おなじみのポリフェノール。<br>
        中から「若々しさ」をサポート。<br>
        ソバが、苦手な方でも<br class="sp">安心のエンジュ由来。</li>
    </ul>
    <p class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/more_txt_pc.png"
        alt="カラダの変化に負けない、若々しい毎日へ"></p>
  </div>
</section>