<section id="quality" class="inner">
  <h2><img class="js-res_img" src="<%= productRootPath %>img/quality_tit_pc.png" alt=""></h2>
  <dl>
    <dt class="fontMincho cGreen">原料や成分内容だけでなく、<br>
      製造工程にもこだわっています。</dt>
    <dd>
      <ul>
        <li>健康食品GMP取得の国内工場</li>
        <li>10回以上の検査で品質の安定性を保持</li>
        <li>最新の機械だけでなく何人もの目を通して徹底的に検品</li>
        <li>厳重な衛生管理のもと、包装はすべて手作業</li>
      </ul>
    </dd>
  </dl>
</section>

<section id="seibun" class="inner">
  <p class="pc"><img src="<%= productRootPath %>img/seibun_pc.png" alt=""></p>
  <p class="sp"><img src="<%= productRootPath %>img/seibun_sp_sp.png" alt=""></p>
</section>
