        <div id="voice_contens">
          <div class="voice pc">
            <img src="<%= productRootPath %>img/voice_pc.png" alt="お喜びの声をたくさんいただきました　健康に自信　戦争を経験しているから、生きることに対
する思いは人一倍強いし、健康でいるための努力は惜しまない。ラフィーネアルファを飲みはじめて20年以上経ちますが、健康につながっている自信がありますね。　ご飲用歴20年以上　下見勝二さん／広島県　94歳　5日間連続のゴルフでも元気　ゴルフが終わっても全然元気な私たちを見て、みんなからすごいって言われちゃいました。
これからも2人でゴルフや旅行を楽しみたいから、それにはラフィーネ-アルファが必要だなって思います。　ご飲用歴3年８ヵ月　村松幸勲さん81歳・美枝子さん77歳／東京都　大好きな洋裁を続けられることが幸せ　洋裁の仕事が本当に楽しくて、忙しさのあまり自分のことは後回しにしてしまった時期も。今も洋裁を続けられていることが本当に幸せ。ラフィーネ-アルファのおかげですね。　ご飲用歴9年4ヵ月　村瀬康子さん／東京都　76歳　板前一筋、20年　20年以上日本料理店を営業していますが、
健康だからこそ続けられているのだと思います。板前を引退したら家内と旅行したり、今までできなかったことをして過ごしたい。これからも健康でいたいから、ラフィーネ-アルファを飲み続けます。　ご飲用歴3年5ヵ月　納富秀政さん／茨城県　71歳　孫8人とハワイ旅行に　あきらめかけていた毎年恒例のハワイ旅行に、8人の孫たちと一緒に行くことができて幸せ。ラフィーネ-アルファには感謝の気持ちでいっぱいです。これからも夫婦二人、欠かさず飲み続けます。　ご飲用歴3年9ヵ月　川路浅雄さん69歳・富子さん71歳／東京都　今では笑顔で前向きに　テレビでラフィーネ-アルファを見て「これだ！」と思いました。あれは何かの縁だったのかもしれません。
慣れない清掃の仕事で大変な時もあったけど、今では笑顔で前向きな毎日を過ごせています。　ご飲用歴13年9ヵ月　野尻紗代さん／熊本県　70歳※個人の感想です。年齢・ご飲用歴は2020年5月時点のものです。">
          </div>
          <div class="voice sp">
            <img src="<%= productRootPath %>img/voice_sp.png" alt="お喜びの声をたくさんいただきました　健康に自信　戦争を経験しているから、生きることに対
する思いは人一倍強いし、健康でいるための努力は惜しまない。ラフィーネアルファを飲みはじめて20年以上経ちますが、健康につながっている自信がありますね。　ご飲用歴20年以上　下見勝二さん／広島県　94歳　5日間連続のゴルフでも元気　ゴルフが終わっても全然元気な私たちを見て、みんなからすごいって言われちゃいました。
これからも2人でゴルフや旅行を楽しみたいから、それにはラフィーネ-アルファが必要だなって思います。　ご飲用歴3年８ヵ月　村松幸勲さん81歳・美枝子さん77歳／東京都　大好きな洋裁を続けられることが幸せ　洋裁の仕事が本当に楽しくて、忙しさのあまり自分のことは後回しにしてしまった時期も。今も洋裁を続けられていることが本当に幸せ。ラフィーネ-アルファのおかげですね。　ご飲用歴9年4ヵ月　村瀬康子さん／東京都　76歳　板前一筋、20年　20年以上日本料理店を営業していますが、
健康だからこそ続けられているのだと思います。板前を引退したら家内と旅行したり、今までできなかったことをして過ごしたい。これからも健康でいたいから、ラフィーネ-アルファを飲み続けます。　ご飲用歴3年5ヵ月　納富秀政さん／茨城県　71歳　孫8人とハワイ旅行に　あきらめかけていた毎年恒例のハワイ旅行に、8人の孫たちと一緒に行くことができて幸せ。ラフィーネ-アルファには感謝の気持ちでいっぱいです。これからも夫婦二人、欠かさず飲み続けます。　ご飲用歴3年9ヵ月　川路浅雄さん69歳・富子さん71歳／東京都　今では笑顔で前向きに　テレビでラフィーネ-アルファを見て「これだ！」と思いました。あれは何かの縁だったのかもしれません。
慣れない清掃の仕事で大変な時もあったけど、今では笑顔で前向きな毎日を過ごせています。　ご飲用歴13年9ヵ月　野尻紗代さん／熊本県　70歳※個人の感想です。年齢・ご飲用歴は2020年5月時点のものです。">
          </div>
        </div>
