<div id="award">
  <div class="award_inner">
    <div class="aligncenter pc mgn_bottom">
      <p><img src="<%= productRootPath %>img/img_award_img_pc.png" alt=""></p>
      <div class="text">
美容ライタ―北原がPoco'ceで、エニストについて対談しました！<br>
北原：エニストは化粧水だけじゃなくて、美容乳液、クリームの3ステップそれぞれに役割があるんです。<br>
まず最初に使う化粧水は、肌をほぐしながらスキンケア成分の通り道をつくります。次につける美容乳液はナノ化されているので、角層の奥まで美容成分が届いてじっくりと働きかけてくれます。最後は浸透した美容成分が逃げないように、肌と同じラメラ構造のクリームでしっかりフタをする仕組みです。<br>
      </div>
    </div>
    <div class="aligncenter sp">
      <p><img src="<%= productRootPath %>img/img_award_img_sp.jpg" alt=""></p>
      <div class="text">
      美容ライタ―北原がPoco'ceで、エニストについて対談しました！<br>
      北原：エニストは化粧水だけじゃなくて、美容乳液、クリームの3ステップそれぞれに役割があるんです。<br>
      まず最初に使う化粧水は、肌をほぐしながらスキンケア成分の通り道をつくります。次につける美容乳液はナノ化されているので、角層の奥まで美容成分が届いてじっくりと働きかけてくれます。最後は浸透した美容成分が逃げないように、肌と同じラメラ構造のクリームでしっかりフタをする仕組みです。<br>
      </div>
    </div>
  </div>
</div>
  <!-- /.award -->