<!-- header -->
<header id="header" class="h">
  <div class="h_inner">
    <div class="h_logo"><img class="js-res_img" src="<%= commonRootPath %>img/logo_hdr_pc.png" alt="オリエンタルバイオ"></div>
    <div class="h_tel pc">
      <span class="h_tel_img"><img class="js-res_img" src="<%= commonRootPath %>img/tel_hdr_pc.png" alt="オリエンタルバイオ"></span>
      <p class="h_tel_time">ご注文受付時間 9:00～18:30［年中無休］</p>
    </div>
    <div class="h_tel sp">
      <span class="h_tel_img"><a href="tel:0120237600" class="ebis_button_trigger" data-cid="S5hxGWKu" data-pid="clickcv_sp_nst"><img class="js-res_img" src="<%= commonRootPath %>img/tel_hdr_sp.png" alt="オリエンタルバイオ"></a></span>
    </div>
  </div>
</header>
<!-- /header -->