<section id="broken">
  <div class="broken__wrapper">
    <h2 class="broken__ttl pc"><img src="<%= productRootPath %>img/broken_h3_img.png" alt="エパゴールド崩壊試験の結果"></h2>
    <h2 class="broken__ttl sp"><img src="<%= productRootPath %>img/broken_h3_img_sp.png" alt="エパゴールド崩壊試験の結果"></h2>
    <p class="broken__content">ソフトカプセルは<span class="strong">体内できちんと溶け出ること</span>が大切です。<br>オリエンタルバイオではソフトカプセルであるエパゴールドが<span class="strong">体の中できちんと溶けるかの試験</span>を、出来上がった製品に対して行っております。</p>
    <div class="broken__result">
      <div class="broken__result__img"><img src="<%= productRootPath %>img/broken_result_img.png" alt="水では約12分、強酸性の液体では約8分"></div>
      <div class="broken__result__txt">でカプセルが<br><span class="strong">完全に溶け切ること</span>を<br>確認しています。</div>
    </div>
    <span class="broken__comment">※エパゴールドは食品にあたりますが、上記の試験は医薬品に適用されている薬局方に基づいた方法を採用しており、専用の試験機器と胃や腸の動きを模した環境で実験をしております。（ご家庭での再現は難しい試験内容です）</span>
  </div>
</section>