<div id="call" class="aligncenter">
  <p><img src="<%= productRootPath %>../common/img/tel_img_01.jpg" alt="商品、ご注文、購入後のご不明点などまずはお気軽にお電話ください"></p>
  <p><a href="tel:0120117502"><img src="<%= productRootPath %>../common/img/tel_img_02.jpg" alt="0120-117-502"></a></p>
  <p><img src="<%= productRootPath %>../common/img/tel_img_03.jpg" alt="私たち、専任のスタッフがお応え致します"></p>
</div>
<!-- /.call -->
