<div class="cta_box_normal cta_box-600 active">
  <img src="<%= productRootPath %>../common/img/cta_600_c.png" alt="">
  <a class="btn_move cta_buy_btn" href="<%= frontURL %>cart/set?code=R59&cycle=1&quantity=1"><img src="<%= productRootPath %>../common/img/btn_subscription_600.png" alt=""></a>
</div>
