<div class="cta_box_normal cta_box-300">
  <img src="<%= productRootPath %>../common/img/cta_300.png" alt="">
  <a class="btn_move cta_buy_btn_300" href="<%= frontURL %>cart/set?code=R58&cycle=1&quantity=1"><img src="<%= productRootPath %>../common/img/btn_subscription_300.png" alt=""></a>
</div>
