<div id="factory">
  <p id="factory-tit" class="aligncenter fontMincho"><strong><span class="fon40">毎日、口にするものだから</span><br>
      徹底した品質管理で<br class="sp">お届けしています。</strong></p>
  <div class="txt aligncenter fontMincho">
    <p>ラフィーネ エパゴールドは、<br class="sp">健康食品GMP認定の国内工場で製造。<br>
      お客様が毎日、口にするものだからこそ、<br class="sp">品質管理には徹底的にこだわっています。<br>
    </p>
  </div>
</div>