<div class="faq-col">
  <div class="faq-q">
    <p>エパゴールド600とエパゴールド300はどう違いますか？</p>
  </div>
  <div class="faq-a">
    <p>エパゴールド600（120粒入り）と エパゴールド300（60粒入り）は、1袋あたりの粒数は異なりますが、中身のカプセルは同じものです。より実感したいという方には、1日4粒(EPA600mg)ご飲用いただけるエパゴールド600をおすすめしております。<br>
    </p>
  </div>
</div>
<div class="faq-col">
  <div class="faq-q">
    <p>いつ飲めばいいですか？</p>
  </div>
  <div class="faq-a">
    <p>食品であるため、ご飲用のタイミングにおいて制限はございません。<br>
      ですが、可能な限り、空腹時を避けて、お薬をお飲みの場合は1時間以上間隔を空けてご飲用なさることをおすすめしております。<br>
    </p>
  </div>
</div>
<div class="faq-col">
  <div class="faq-q">
    <p>目安量はどれくらいですか？</p>
  </div>
  <div class="faq-a">
    <p>オススメしている目安量は1日2～6粒です。</p>
  </div>
</div>
<div class="faq-col">
  <div class="faq-q">
    <p>飲めない方はいますか？</p>
  </div>
  <div class="faq-a">
    <p>卵、大豆、サバ※１、ゼラチン（豚由来）を使用した原料を配合しています。<br>
これらアレルギーのある方はお控えください。<br>
その他にも、原材料をご確認いただき食物アレルギーのある方はご飲用をお控えください<br>
※１　主成分である精製魚油は主にイワシやマグロ由来ですが、一部サバが含まれている場合があります
    </p>
  </div>
</div>
<div class="faq-col">
  <div class="faq-q">
    <p>お薬を飲んでいますが大丈夫ですか？</p>
  </div>
  <div class="faq-a">
    <p>食品成分のみを使用しておりますので、基本的には差し支えございませんが、お薬と併用されたい場合はかかりつけのお医者様や薬剤師の方にご相談の上、ご飲用いただくことをおすすめしております。<br>
    </p>
  </div>
</div>
<div class="faq-col">
  <div class="faq-q">
    <p>他のサプリメントと比べてカプセルが大きいのですが…</p>
  </div>
  <div class="faq-a">
    <p>小林式EPAの持つ立体構造を保つため、他のEPA食品よりも大きなカプセルで製造しております。飲みづらいと感じられる場合は、無理に飲み込まず1粒ずつご飲用ください。<br>
    </p>
  </div>
</div>