<section id="intro">
  <div class="intro-wrap">
          <!-- <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/intro_tit_pc.png"
              alt="生活に潜む健康リスク、あなたは大丈夫ですか？"></h2> -->
          <div id="intro-inner">
            <div class="inner">
              <!-- <ul id="intro-list-01" class="fontMincho sp">
                <li>仕事でも家庭でも<br>
                  自分にかかる<span class="bgYellow fon34">責任が増えている</span></li>
                <li>そろそろ<span class="bgYellow fon34">数値が気になる</span>歳だ</li>
                <li><span class="bgYellow fon34">脂っこい食事</span>を好んでいる</li>
              </ul>
              <ul id="intro-list-02" class="fontMincho sp">
                <li>冬場の入浴など、<br>
                  <span class="bgYellow fon34">急な寒暖差</span>に気をつけている</li>
                <li>気にはしていても<br>
                  <span class="bgYellow fon34">食生活が乱れてしまう</span></li>
              </ul> -->
            </div>
          </div>
          </div>
        </section>

        <section id="epa">
          <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/epa_tit_pc.png"
              alt="そんな生活の改善を目指す方に健康成分｢EPA｣が注目されています">
          </h2>
          <div class="inner">
            <div class="txt">
              <p>EPAとは「エイコサペンタエン酸」の略称です。<br>
                いわし、さば、あじなどの青魚に多く含まれ、
                健康対策におすすめのサラサラ<span style="font-size: 1rem;">※</span>な成分として知られています。<br>
                しかしEPAは精製のため熱などが加わることで<span class="cRed"><strong>構造体</strong></span>が変化してしまうため、一口にEPAといってもその健康パワーは違いはあるのです。<br>
                <span class="cRed"><strong>さらに、体内では作れないため、食事から摂り入れる必要があります。</strong></span><br><br>
                <span style="font-size: 1rem;">※魚油は動物性の油に比べ、サラサラした形状</span>
              </p>
            </div>
          </div>
          <!-- <p class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/epa_txt_pc.png"
              alt="しかし、EPAならばどれでもいいわけではないのです!"></p> -->
        </section>