<div id="user_voice2" class="user_voice2">
  <p><img src="<%= productRootPath %>img/voice2_img_tit.jpg" alt="直接お会いしました！エパゴールドを続けている理由とは？" width="360" height="223" decoding="async"></p>
  <p><img src="<%= productRootPath %>img/voice2_img_03.jpg" alt="運動も、飲み会も余裕。目指すは120歳！松田成也さん49歳" width="360" decoding="async"></p>
  <p><img src="<%= productRootPath %>img/voice2_img_01.jpg" alt="体を的確にケアしていくと自分に返ってくる。だからエパゴールドは欠かせません！宮﨑大輔さん40歳" width="360" height="1035" decoding="async"></p>
</div>
