<!--
  <div class="oshirase">
    <picture>
      <source srcset="<%= commonRootPath %>img/oshirase_oyasumi_pc.png" media="(min-width: 640px)">
      <img class="js-res_img" src="<%= commonRootPath %>img/oshirase_oyasumi_sp.png" alt="">
    </picture>
  </div>
-->
<!--
<div class="oshirase">
  <picture>
    <source srcset="<%= commonRootPath %>img/oshirase_oyasumi_gw2022_pc.png" media="(min-width: 640px)">
    <img class="js-res_img" src="<%= commonRootPath %>img/oshirase_oyasumi_gw2022_sp.png" alt="">
  </picture>
</div>
-->
