<div class="small_content" style="width: 95%; margin: 0 auto;">
  <p><img src="<%= productRootPath %>img/epasmall_main_sp.png" alt=""></p>
  <p><a href="tel:0120117502" class="ebis_button_trigger" data-cid="2JbemGXQ" data-pid="clickcv_sp_epa_small_detail"><img src="<%= productRootPath %>img/epasmall_button_sp.png" alt=""></a></p>
</div>