<!-- header -->
<header id="header" class="h epa_detail">
  <div class="h_inner">
    <div class="h_logo"><img src="<%= commonRootPath %>img/logo_hdr_pc.png" alt="オリエンタルバイオ"></div>
    <div class="h_tel">
      <span class="h_tel_img"><a href="tel:0120117502" class="ebis_button_trigger" data-cid="2JbemGXQ" data-pid="clickcv_sp"><img src="<%= commonRootPath %>img/tel_hdr_ta_sp.png" alt="オリエンタルバイオ"></a></span>
    </div>
  </div>
</header>
<!-- /header -->