<div class="voice_scroll">
  <h4><img src="<%= productRootPath %>img/scroll_voice_title.png" alt=""></h4>
  <ul class="voice_scroll__box">
    <li class="voice_scroll__item">
      <h5>職業柄仕方ない…と諦めていた時、頼れるエパゴールドが！</h5>
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">不明</li>
      </ul>
      <p class="voice_scroll__text">
        ここ何十年、とても健康的とは言えない生活。でもパソコンを長時間使用し続けている仕事柄、避けられない状態でした。ひどい時は仕事にも影響が出て、最悪仕事を休んでしまうことも。<br>
        このままではだめだと相談するも「規則正しい生活を送って、長時間のパソコンの使用は控える、こまめに休憩を取ること。」そんなのデスクワークで十分に対策できる訳もなく。職業柄もう仕方がないと諦めていました。<br>
        そんな時、ふとテレビCMでエパゴールドを発見。いつものように、サプリ系は大袈裟な商品ばかりだからと冷めた目で見ていたのですが、ハンドボール元日本代表の宮﨑大輔選手が出てきて「これだっ！！」と藁にもすがる思いで購入を決意。<br>
        今ではすっかり健康習慣に自信がつきましたね！集中して仕事ができるようにもなったし、この仕事を続けていく限りもう手放せません！
      </p>
    </li>
    <li class="voice_scroll__item">
      <h5>マッサージや枕もいまいちで。でもエパゴールドは違いました！！</h5>
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">43歳/女性</li>
        <li class="voice_scroll__take">エパ600定期 2ヶ月</li>
      </ul>
      <p class="voice_scroll__text">
        去年から健康のことを不安に思う時期を過ごすようになって。マッサージに行ったりするも、私にはイマイチ。よいといわれる枕を奮発して購入するもよくわからない。そんな中、たまたまテレビでエパゴールドを知って試してみることに。<br>
        飲み始めは特に変化もなく、これでもダメか―と思っていましたが、1ヶ月分を飲み終わる頃には、気持ちもすっかり軽くって！その後もどんどん前向きになれた気がします！<br>
        だから2ヶ月試して定期購入しようと決意しました！ちょっと粒が大きくて飲みにくいけど、そんなのへでもありません！ズーンと重い気持ちから解放されてかなり嬉しいです♪
      </p>
    </li>
    <li class="voice_scroll__item">
      <h5>気づいたら気分も軽やかに。両親にも贈りたい商品です！</h5>
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">34歳/女性</li>
        <li class="voice_scroll__take">エパ600定期 2ヶ月</li>
      </ul>
      <p class="voice_scroll__text">
        将来の健康への不安、女性特有の変化、年齢による衰えなど悩んでばかりの毎日。これではだめだ！といろいろと試した結果、私が辿り着いたのがエパゴールドでしたね。<br>
        最初の1週間は「合わなかったのかな」と思っていましたが、気づいたら一日中元気に過ごせている自分がいたんです。<br>
        エパゴールドを飲み始めてからは、前向きな気分になれた気がします！<br>
        わたしにとってはすごく嬉しい変化です。これからも飲み続けていきたいし、両親にも贈りたいと思います。
      </p>
    </li>
    <li class="voice_scroll__item">
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">不明/女性</li>
      </ul>
      <p class="voice_scroll__text">
        まだある！と思って頼み忘れて、約1週間飲まない日がありました。そうしたらこりゃだめだ！と再注文。我慢ギリギリで届きました！おかげで気持ちがスッとして安心。定期購入にしようか真剣に考えています。
      </p>
    </li>
    <li class="voice_scroll__item">
      <h5>リピートです！</h5>
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">30代/女性</li>
        <li class="voice_scroll__take">エパ600定期</li>
      </ul>
      <p class="voice_scroll__text">
        少しお値段が高いかなと思っちゃいますが、エパゴールドを飲んでいると毎日調子がいいです！飲んで損はないです！ここぞというときには、多めに飲むと頑張れます。<br>
        女性特有の変化も気になり始める年代なので、頼れるものがあると、安心です。
      </p>
    </li>
    <li class="voice_scroll__item">
      <ul class="voice_scroll__attribute">
        <li class="voice_scroll__user">37歳/女性</li>
        <li class="voice_scroll__take">エパ600定期 2ヶ月</li>
      </ul>
      <p class="voice_scroll__text">
        以前から、この先の健康に不安を感じていましたが、エパゴールドを飲み始めてから悩むことも少なくなって嬉しい！<br>
        わたしは朝2粒、夕2粒で1日4粒飲んでいます！<br>
        2粒が大きめですがつるんとしていたし、飲む量も多くないので飲みやすかったです。
      </p>
    </li>
  </ul>
</div>