<div id="epasmall" class="small_content">
  <div class="pc" style="width: 1050px; margin: 0 auto;">
    <p><img src="<%= productRootPath %>img/epasmall_main_pc.png" alt=""></p>
    <p><a href="tel:0120117502"><img src="<%= productRootPath %>img/epasmall_button_pc.png" alt=""></a></p>
  </div>
  <div class="sp" style="width: 95%; margin: 0 auto;">
    <p><img src="<%= productRootPath %>img/epasmall_main_sp.png" alt=""></p>
    <p><a href="tel:0120117502" class="ebis_button_trigger" data-cid="2JbemGXQ" data-pid="clickcv_sp_epa_small_tokucho"><img src="<%= productRootPath %>img/epasmall_button_sp.png" alt=""></a></p>
  </div>
</div>