<section id="contact">
  <div class="inner">
    <h2> <img class="js-res_img" src="<%= productRootPath %>img/contact_tit_pc.png" alt="お電話でのご注文・ご質問もお気軽にお問合せ下さい"> </h2>
    <p class="fon22">「ご注文窓口」は、専任スタッフが<br class="sp">お客様の<br class="pc tab">ご要望・ご質問に丁寧に<br class="sp">お応えいたします。</p>
    <p><img class="js-res_img" src="<%= productRootPath %>img/contact_tel_pc.png" alt=""></p>
    <div class="aligncenter"> 年中無休、<strong>9時～18時半</strong>で対応しております。<br>お気軽にご利用くださいませ。 </div>
  </div>
  <!--/inner-->
</section>
<!--/#contact-->