<section id="info" class="inner">
  <h2 class="aligncenter"> <img class="js-res_img" src="<%= productRootPath %>img/info_tit_pc.png" alt="オリエンタルバイオ"> </h2>
  <div id="info-inner" class="clearfix">
    <dl class="info-col"> <dt>お支払いについて</dt>
      <dd>
        <p>□ 消費税について<br> 商品の価格は、消費税込みです。</p>
        <p>□ 代金引換<br> 商品配達時に配達員に代金を直接お支払いいただきます。<br> 代金引換手数料は、弊社が負担いたします。</p>
      </dd> <dt>送料・配送について</dt>
      <dd>
        <p>□ 配送業者<br> 佐川急便でお届けします。</p>
        <p>□ 送料<br> 送料は無料でお届けいたします。</p>
      </dd> <dt> 製品の保証について </dt>
      <dd>
        <p>製品の保証期間は、ご購入日（伝票発行日）から1年間がメーカー保証期間となっております。お買い上げ明細書と、製品本体に同梱されているKENCOS4保証書は大切に保管してください。</p>
        <p>※保証期間についてご不明な点などございましたら下記へお問い合せください。</br>■フリーダイヤル：0120-079-996（月～金　10：00～18：30　土日・祝休）</p>
      </dd>
    </dl>
    <dl class="info-col"> <dt>返品について</dt>
      <dd>
        <p>下記フリーダイヤルにご連絡頂き、返品の旨をお伝えください。<br>担当者より返品手順のご説明を申し上げます。<br>■フリーダイヤル：0120-079-996（月～金　10：00～18：30　土日・祝休）</p>
      <p>〒103-0023<br>東京都中央区日本橋本町1-5-4 住友不動産日本橋ビル1階<br>オリエンタルバイオ株式会社</p>
      <p>お客様のご都合により返品される場合は、下記の通りの条件となります。</p>
      <p>※交換・返品のお申し出は、ご注文商品到着後8日以内にお願いいたします。<br>※ご返品時にかかる送料（宅配送料・現金書留送料など）は、お客様のご負担となります。<br>※未開封品に限り返品をお受けしております。（外装フィルムを含む）<br>※割引制度をご購入いただいた場合は、ご購入時の割引単価ではなく、お客様が既に消費（開封）された商品を本来の販売価格に割り当て、ご購入時のお支払額との差額を求めて返金額を算出いたします。</p>
      </dd>
    </dl>
  </div>
  <!--/info-inner-->
</section>