<div class="center_contents authority">
  <div class="crown">
    <p><img class="" src="<%= productRootPath %>img/crown02_pc.png" alt="顧客満足度88.5％" /></p>
  </div>
  <!-- <div class="algy">
    <span>アレルギー特定原材料不使用</span>
  </div> -->
  <div class="note">
    ※1 モニターアンケートによる 「大変満足」33%、「やや満足」38%、「満足」17.5%の合計値 ※2 2016年11月　自社調べ
  </div>
</div>