<div id="tel" class="js-float__open">
  <p class="tel_center"><img src="<%= productRootPath %>img/tel_img_01.jpg" alt="商品、ご注文、購入後のご不明点などまずはお気軽にお電話ください"></p>
  <p class="tel_center"><a class="tel_event" href="tel:0120-237-600"><img src="<%= productRootPath %>img/tel_img_02.jpg" alt="0120-237-600"></a></p>
  <p class="tel_center"><img src="<%= productRootPath %>img/tel_img_03.jpg" alt="私たち、専任のスタッフがお応え致します"></p>
</div>
