<section id="faq">
  <h2>よくあるご質問</h2>
  <ul>
    <li>いつのタイミングで飲んだらいいのですか？</li>
    <li>
      食品ですので基本的にはいつお飲みいただいても構いません。
      1日1本を目安に、お休み前など、お好きなお時間にお召し上がりくださいませ。
      苦味が気になるかたは、先に水分を口に含んでからお飲みください。
    </li>
    <li>夜に飲み忘れたのですが、昼間飲んでも大丈夫でしょうか。</li>
    <li>アレルナイトプラスは食品ですので、基本的にいつお飲み頂いても問題ございません。</li>
    <li>病院でもらった薬を飲んでいますが大丈夫ですか？</li>
    <li>
      食品成分のみを使用しておりますので基本的には差し支えございませんが、お薬と併用されたい場合はかかりつけのお医者様や薬剤師の方にご相談の上、ご飲用いただくことをおすすめしております。
    </li>
    <li>アレルナイトプラスを飲用後、尿が黄色になったのですが大丈夫でしょうか。</li>
    <li>
      アレルナイトプラスの服用により、尿が黄色くなることがありますが、これは本品に含まれているビタミンB2が吸収され、
      その一部が尿中に排泄されるためです。したがってご心配はされなくても大丈夫です。
    </li>
    <li>子供も飲んで大丈夫ですか。</li>
    <li>アレルナイトプラスはビタミンも含めたっぷり配合しておりますので、6歳以上のお客様におススメしております。</li>
    <li>妊娠中・授乳中に飲んでも大丈夫ですか？</li>
    <li>妊娠・授乳中の方は医師や薬剤師の方にご相談のうえ、ご飲用いただくことをおすすめしております。</li>
  </ul>
  <p><img class="js-res_img" src="<%= productRootPath %>img/seibun_pc.png" alt="" /></p>
</section>