<section id="guide">
  <h2>お買い物ガイド</h2>
  <ul>
    <li>
      <h3>お支払いについて</h3>
      <h4>お支払い方法</h4>
      <h5>代金引換、クレジットカード、SCORE後払い（振込用紙）となっております。</h5>
      <h5>クレジットカードのお支払いに関しては、お届け毎に各クレジットカード会員規約に基づき、お客様の口座より引落しとなります。
        代金引換払いの場合は、商品お届け時に配達員にお支払いください。<br>
        コンビニエンスストア・ゆうちょ銀行、郵便局、LINE Payまたは楽天銀行コンビニ支払サービスからの後払いに関しては、商品到着後14日以内にお支払いください。
        2回目以降も同じ方法でのお支払いとなります。</h5>
      <h4>消費税について</h4>
      <h5>商品の価格は、消費税込みです。</h5>
      <!-- <h5></h5> -->

      <h3>配送について</h3>
      <h4>配送業者</h4>
      <h5>佐川急便でお届けします。ポストにお届けの配送方法をご選択の場合は、日本郵便でのお届けとなります。</h5>
      <h4>送料</h4>
      <h5>アレルナイトプラス30本セット「定期コース」、「単品コース」は送料無料です。</h5>
    </li>
    <li>
      <h3>商品に関するお問い合わせ</h3>
      <p>
        当社営業時間　平日10時～18時半まで<br />フリーダイヤル：0120-079-996
      </p>
      <br>
      <h3>返品について</h3>
      <p>
        当社営業時間　平日10時～18時半まで<br />
        フリーダイヤル：0120-079-996<br />
        ご連絡頂き、返品の旨をお伝えください。<br />
        担当者より返品手順のご説明申し上げます。<br />
        <br />
        〒103-0023<br />
        東京都中央区日本橋本町1-5-4 住友不動産日本橋ビル1階<br />
        オリエンタルバイオ株式会社<br />
        <br />
        お客様のご都合により返品される場合は、下記の通りの条件となります。<br />
        <br />
        ①交換・返品のお申し出は、ご注文商品到着後8日以内にお願いいたします。<br>
        ②ご返品時にかかる送料（宅配送料・現金書留送料など）は、お客様のご負担となります。<br>
        ③クレジットカードにてお支払いの場合、返品はお受けできません。<br>
        ④未開封品に限り返品をお受けしております。（外装フィルムを含む）<br>
        ⑤割引制度をご購入いただいた場合は、ご購入時の割引単価ではなく、お客様が既に消費（開封）された商品を本来の販売価格に割り当て、ご購入時のお支払額との差額を求めて返金額を算出いたします。
      </p>
    </li>
  </ul>
</section>