<!-- allerknight_af用 -->
<header id="header" class="h">
  <div class="h_inner">
    <div class="h_logo"><img class="js-res_img" src="<%= commonRootPath %>/img/logo_hdr_pc.png" alt="オリエンタルバイオ"></div>
  </div>
</header>