<section id="innercare" class="innercare">
  <div class="inner center_contents">
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/innercare_image_sp.png">
        <img src="<%= productRootPath %>img/innercare_image_pc.png" width="750" height="1142" alt="30年食品の力を信じてきた健康食品メーカーだからこそ、中からのケアをご提案。アレルナイトプラスは6歳以上からご飲用いただけます。" >
    </picture>
  </div>
</section>