<section class="kuchikomi2 center_contents center_contents--resize" id="kuchikomi2">
  <div class="inner">
    <img src="<%= productRootPath %>img/kuchikomi2_image.jpg" width="751" height="2408" alt="他にも続々と嬉しいお声をいただいています！" loading="lazy">
  </div>
</section>