<section id="murakami">
  <div class="inner">
    <h2>
      <img class="tab" src="<%= productRootPath %>img/interview_pc.png" alt="独占インタビュー" />
      <img class="sp" src="<%= productRootPath %>img/murakami_01_sp.png" alt="独占インタビュー" />
    </h2>
    <ul>
      <li>
        <p class="sp">
          <span class="space"></span>
          現役の頃は、ドーピングを気にして、飲んだり塗ったりすることができないから、もちろんサプリメントも飲めなかったんです。だから<strong>現役19年間は、我慢する事が多かったんですよ。</strong>
        </p>
        <p class="sp">
          でも引退をし、制限がなくなって好きなものを飲めるようになったので、<strong>気になっていた「アレルナイトプラス」を飲んでみることに。</strong>
        </p>
        <p class="pc tab">
          現役の頃は、ドーピングを気にして、飲んだり塗ったりすることができないから、もちろんサプリメントも飲めなかったんです。だから<strong>現役19年間は、我慢することがすごく多かったんですよ。</strong><br />
          <br />でも、引退をし制限がなくなって、好きな物を飲めるようになったので、<strong>気になっていたアレルナイトプラスを飲んでみることに。</strong>
        </p>
      </li>
      <li>
        <p class="pc tab">飲むのを忘れないように、よく行く場所、名古屋のおばあちゃんち、実家にもちゃんと置いてあります。</p>
        <p class="pc tab">しかも、味がすごく好きなんです！おいしいから、飲んじゃおっかな～って。<strong>続けるのが苦じゃないっていうのがいいところだなって思ってます。</strong>
        </p>
        <p class="sp"><span class="space"></span>飲むのを忘れないように、<br>よく行く場所、名古屋のおばあちゃんち、実家にもちゃんと置いてあります。</p>
        <p class="sp">しかも、味がすごく好きなんです！おいしいから、飲んじゃおっかな～って。<strong>続けるのが苦じゃないっていうのがいいところだなって思ってます。</strong></p>
      </li>
      <li>
        <p class="pc tab">
          引退後の今は、環境がガラッと変わったんですけど、<strong><br />縛りもなく、我慢しなくてもよくなった</strong>ので、<br />ファッションや食べることも楽しくなりました。
        </p>
        <p class="pc tab">
          普通の人は、これが当たり前なのかもしれないし、そんなのが嬉しいの？って思うかもしれないけど、23年間悩みと戦ってきた身としては、喜びや自信にもなっています。<br />
          <strong>本当に素晴らしいものに出会えたなって感謝してます。</strong>
        </p>
        <p class="sp"><span class="space"></span>
          引退後の今は、環境がガラッと変わったんですけど、<strong>縛りもなく、我慢しなくてもよくなったので、</strong>ファッションや食べることも楽しくなりました。
        </p>
        <p class="sp">
          普通の人は、これが当たり前なのかもしれないし、そんなのが嬉しいの？って思うかもしれないけど、23年間悩みと戦ってきた身としては、喜びや自信にもなっています。<br>
          <strong>本当に素晴らしいものに出会えたなって、感謝してます。</strong>
        </p>
        <div class="note">※個人の感想であり、実感には個人差があります。</div>
      </li>
    </ul>
    <div class="note"></div>
  </div>
</section>