<div class="nayami3 js-float__open" id="nayami3">
  <div class="nayami__lead">
    <div class="inner center_contents">
      <picture>
        <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/nayami_image01_sp.png" />
        <img width="750" height="860" src="<%= productRootPath %>img/nayami_image01_pc.png" alt="ご自身やお子様は大変な苦労をされたと思います。そのお悩み、私達にお手伝いさせてください。"  />
      </picture>
    </div>
  </div>
  <div class="inner center_contents">
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/nayami_image02_sp.png" />
      <img width="750" height="860" src="<%= productRootPath %>img/nayami_image02_pc.png" alt="ご自身やお子様は大変な苦労をされたと思います。そのお悩み、私達にお手伝いさせてください。"  />
    </picture>
  </div>
</div>