
<section id="product" class="product">
  <div class="inner center_contents">
      <h3>
        <picture>
          <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/product_ttl_sp.png">
          <img src="<%= productRootPath %>img/product_ttl_pc.png" width="662" height="96" alt="健康食品ＧＭＰ認定の国内工場でひとつひとつ丁寧に製造しています。" >
        </picture>
      </h3>
      <p>
        敏感・デリケートな方のための商品だから、<br class="pc" />
        製造過程にもこだわりました。<br class="pc" />
        <strong>健康食品GMP認定の国内工場でひとつひとつ丁寧に<br class="pc" />
          つくられています。<br class="pc" />
          また、アレルギー特定原材料等２８品目の不使用※、<br class="pc" />
          着色料・防腐剤・ステロイドの不使用で無添加。<br class="pc" />
          優しい商品づくりを心がけています。</strong>
      </p>
      <div class="note">
        ※えび、かに、小麦、そば、卵、乳、落花生(ピーナッツ)、アーモンド、あわび、いか、いくら、オレンジ、カシューナッツ、キウイフルーツ、牛肉、くるみ、ごま、さけ、さば、大豆、
        鶏肉、バナナ、豚肉、まつたけ、もも、やまいも、りんご、ゼラチン
      </div>
      <div class="image">
        <picture>
          <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/product_image_sp.png">
          <img src="<%= productRootPath %>img/product_image_pc.png" width="690" height="278" alt="画像:工場製造風景" >
        </picture>
      </div>
  </div>
</section>