<div class="renewal">
  <img class="pc" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/allerknight/img/renewal2020_01_pc.png"
    alt="" />
  <img class="sp" src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/allerknight/img/renewal2020_01_sp.png"
    alt="" />
  <a href="tel:0120237600"><img class="sp"
      src="https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/allerknight/img/renewal2020_02_sp.png"
      alt="" /></a>
</div>