<section id="review" class="review">
  <div class="inner center_contents">
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/review_image_sp.jpg">
      <img src="<%= productRootPath %>img/review_image_pc.jpg" width="750" height="1532" alt="1800人の声から生まれた新しいアプローチのサプリメント、アレルナイトプラス。" >
    </picture>
  </div>
</section>