@charset "utf-8";
a { color: #fff; text-decoration: none;}
a:hover { opacity: 0.7;}
.aligncenter { text-align: center;}
.mgn_bottom {
  margin-bottom: 80px;
}
#header .inner,
#footer .inner { width: 1000px; margin: 0 auto;}

#header {
  background: #fff;
  box-shadow: 0px 7px 8px -7px rgba(0,0,0,0.4);
}
#header .pc {
  display: flex;
  justify-content: space-between;
}
#footer { background: url("../img/bg_footer.jpg")no-repeat top center / cover;}

  /*=================================================================
    footer
  =================================================================*/
  #footer .pc img { width: 27.9vw;}
  /*=================================================================
    footer
  =================================================================*/
  #footer .footer_menu {
    flex-wrap: wrap;
    padding: 0 0 2.6vw;
  }
  #footer .footer_menu li a {
    font-size: 3.6vw;
    padding: 0 2.7vw;
    margin-bottom: 2.6vw;
  }
  #footer .footer_menu li:nth-child(3) a,
  #footer .footer_menu li:last-child a { border-right: none;}

  #modal_area {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 90;
    display: none;
  }

  #modal_inner {
    width: 65.1vw;
    height: 37.1vw;
    margin: 0 auto;
    padding-top: 15vw;
    background-color: #fff;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  #modal_inner #return {
    width: 33vw;
    margin: 17vw auto 0;
    line-height: 8vw;
    border: solid 1px #333;
  }



/*=================================================================
  water_style
=================================================================*/
.double_w_wrapper {
    background: url(../img/bg_lineup.jpg);
    padding-bottom: 55px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
}

.double_w.nst {
  width: 750px;
  background: #FFF;
  margin: 0 auto;
  height: auto;
  box-shadow: 0px 0px 6px 3px #ededed;
  -moz-box-shadow: 0px 0px 6px 3px #ededed;
  -webkit-box-shadow: 0px 0px 6px 3px #ededed;
}
.double_w.nst img {
  max-width: 100%;
}
.double_w.nst p {
  margin: 0;
  padding: 0;
}
.double_w.nst .pc {
  display: block;
}
.double_w.nst .sp {
  display: none;
}
.double_w.nst .tujo {
  display: flex;
  background: #FFF;
}
.double_w.nst .tujo .price {
  width: 50%;
}
.double_w.nst .tujo .button {
  width: 50%;
}
.double_w.nst .lineup {
  background: url(../img/bg_lineup_bottom_sp.png)no-repeat bottom center, url(../img/bg_lineup_sp.jpg)repeat-y center 239px;
  background-size: 100%;
  padding-bottom: 55px;
}
.double_w.nst .lineup_box {
  width: 96vw;
  background: #fff;
  margin: auto;
  box-shadow: 0 0 0.7vw 0 rgba(195,153,109,0.5);
}
.double_w.nst .more .more_button {
  margin: auto;
}
.double_w.nst .more .button_close {
  display: none;
}
.double_w.nst .more.open .button_close {
  display: block;
}
.double_w.nst .more .button_open {
  display: block;
}
.double_w.nst .more.open .button_open {
  display: none;
}
.double_w.nst .more .more_content {
  background: url(../img/bg_more.png)no-repeat bottom center;
  display: none;
}
.double_w.nst .voice_area {
  overflow: scroll;
  height: 500px;
  width: 84%;
  margin: 0 auto 20px auto;
  padding: 20px 10px;
  font-size: 1.2rem;
  background-color: #fff;
}
.double_w.nst .voice_block::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px auto;
  background:
    linear-gradient(to left,
      rgba(187,147,85,0) 0%,
      rgba(187,147,85,0.8) 15%,
      rgba(187,147,85,1) 19%,
      rgba(187,147,85,1) 22%,
      rgba(187,147,85,1) 50%,
      rgba(187,147,85,1) 77%,
      rgba(187,147,85,1) 81%,
      rgba(187,147,85,0.8) 85%,
      rgba(187,147,85,0) 100%);
}

.double_w.nst .voice_block ul {
  display: flex;
}
.double_w.nst .voice_block ul .user {
  background: url("../img/bg_voice_user.png")no-repeat center;
  width: 100px;
  height: 32px;
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
}
.double_w.nst .voice_block ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.double_w.nst .voice_block h3 {
  color: #603813;
  font-size: 30px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 15px;
}
.double_w.nst .voice_block .voice_text {
  color: #4D4D4D;
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
}
.double_w.nst #faq { background: url("../img/bg_faq.jpg")no-repeat top center / cover;}
.double_w.nst #faq .faq_list .faq_block .inner { display: none;}
.double_w.nst #faq .faq_list .faq_block .faq_acc_btn {
  width: 100%;
  height: 90px;
  text-indent: -999999px;
  cursor: pointer;
}
.double_w.nst #faq .faq_list {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.double_w.nst #faq .faq_list .faq_acc_btn {
margin-bottom: 20px;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc1 .faq_acc_btn {
  background: url("../img/img_question_storage_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc1 .faq_acc_btn.open {
  background: url("../img/img_question_storagec_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc2 .faq_acc_btn {
  height: 110px;
  background: url("../img/img_question_order_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc2 .faq_acc_btn.open {
  background: url("../img/img_question_orderc_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc3 .faq_acc_btn {
  background: url("../img/img_question_period_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc3 .faq_acc_btn.open {
  background: url("../img/img_question_periodc_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc4 .faq_acc_btn {
  background: url("../img/img_question_sensitive_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc4 .faq_acc_btn.open {
  background: url("../img/img_question_sensitivec_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc5 .faq_acc_btn {
  height: 170px;
  background: url("../img/img_question_combined_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc5 .faq_acc_btn.open {
  background: url("../img/img_question_combinedc_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc6 .faq_acc_btn {
  height: 110px;
  background: url("../img/img_question_abnormality_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #faq .faq_list .faq_block.faq_acc6 .faq_acc_btn.open {
  background: url("../img/img_question_abnormalityc_sp.png")no-repeat center;
  background-size: 100%;
}
.double_w.nst #buy_list {
  width: 90%;
  margin: 0 auto;
}
.voce {
  display: none;
}

@media screen and ( max-width: 749px) {
  .double_w.nst {
    width: 100%;
    box-shadow: none;
  }
  .double_w.nst .pc {
    display: none;
  }
  .double_w.nst .sp {
    display: block;
  }
  .double_w.nst #faq .faq_list .faq_block .faq_acc_btn {
    height: 12vw;
  }
  .double_w.nst #faq .faq_list .faq_block.faq_acc2 .faq_acc_btn {
    height: 16.6vw;
  }
  .double_w.nst #faq .faq_list .faq_block.faq_acc5 .faq_acc_btn {
    height: 20.8vw;
  }
  .double_w.nst #faq .faq_list .faq_block.faq_acc6 .faq_acc_btn {
    height: 16.6vw;
  }
  .double_w.nst #buy_list {
    width: 90%;
    margin: 0 auto;
  }
}
